/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  background-image: url(../img/aleksandr-popov-vCbKwN2IXT4-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

.container:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.475);
}

.center {
  width: 456px;
  margin: auto;
  border-radius: 5px;
  padding: 55px 45px;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.745);
  box-shadow: -1px 4px 28px 0px rgba(200, 166, 193, 0.486);
}

.center h2 {
  text-align: center;
  color: #ffffff;
  margin-bottom: 27px;
}

.input-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.inputButton {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 19px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: ;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;

  font-weight: 800;
  color: #ffffff8f;
  letter-spacing: 2px;
}

.btn:hover {
  background-position: right center;
}

.btn-colore {
  background-image: linear-gradient(
    to right,
    #673ab7 0%,
    #ca1ee9 51%,
    #2c0135 100%
  );
}

.input-field input {
  background: transparent;
  border: 1px solid #673ab7;
  border-radius: 3px;
  color: #fff;
  padding-left: 40px;
}

.input-field i {
  position: absolute;
  top: 13px;
  left: 16px;
  color: #ca1ee9;
}

p {
  color: #565656;
  text-align: center;
}

#messaggio {
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

#emailId {
  height: 40px;
}
